<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/comercio</property>
		<property name="connection.username">root</property>
		<property name="connection.password">11213337</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- inserindo os dados nas tabelas -->
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Mapeamento as tabelas -->
		<mapping class="br.com.comercio.domain.Estado" />
		<mapping class="br.com.comercio.domain.Cidade" />
		<mapping class="br.com.comercio.domain.Fornecedor" />
		<mapping class="br.com.comercio.domain.Produto" />
		<mapping class="br.com.comercio.domain.Funcionario" />
		<mapping class="br.com.comercio.domain.ItemVenda" />	
		<mapping class="br.com.comercio.domain.Usuario" />
		<mapping class="br.com.comercio.domain.Venda" />
		<mapping class="br.com.comercio.domain.Cliente" />
		
			<mapping class="br.com.comercio.domain.Pessoa" />
		
		
	</session-factory>

</hibernate-configuration>



